/*
General layout
*/
html, body{
    margin: 0;
    padding: 0;
    height: 100vh;
}
/*themes
*/
:root {
    --darktext: hsl(218, 44%, 22%);
    --lightcolor: #ffffff;
    --lightcolor2:#68778D;
    --lightcolor3:#5D6679;
    --lightcolor4:#7d88a1;
    --background: hsl(212, 45%, 89%);
  }
/*
fonts
*/
@font-face {
    font-family: outfit;
    src: url('../fonts/Outfit/Outfit-VariableFont_wght.ttf');
}
/*main layout*/
body{
    font-family: outfit, Arial;
    background: var(--background);
    display: flex;
    align-items: center;
    justify-content: center;
}
body p{
    font-size: 1em;
    font-weight: 400;
    color: var(--lightcolor2);
}
h1{
    font-size: 1.2em;
    color:  var(--darktext);
    font-weight: 700;
}
/*
card layout
*/
.card{
    display: block;
    padding: 15px;
    background-color: #ffffff;
    text-align: center;
    width: calc(16em + 5%);
    height: fit-content;
    box-sizing: border-box;
    border-radius: 1em;
    box-shadow: 0px 1px 4px #000;
}
.card-img{
    width: 100%;
    box-sizing: border-box;
    border-radius: 0.8em;
}
.card-text{
    padding: 0 15px;
}
/*
footer, bottom
*/
footer.attribution{
    display: block;
    position: fixed;
    right: 0;
    bottom: 0;
    color:var(--lightcolor3);
}
footer a{
    color:var(--lightcolor3);
}
footer a:hover{
    color:var(--lightcolor4);
}
/*
mobile
*/
@media only screen and (max-width: 412px){
    .card{
        width: 90%;
    }
    p{
        font-size: 1.2em;
    }
    h2{
        font-size: 1.4em;
        color:  var(--darktext);
        font-weight: 700;
    }
}