*{
    margin: 0;
    padding: 0;
    border: 1px solid red;
}
body{
    color: white;
    height: 100vh;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url("../assets/images/background-desktop.png") no-repeat center center fixed;
    background-size: cover;
    background-color: rgb(63, 0, 165);
}

h1{
    font-size: 3em;
    text-align: center;
}
p{
    font-size: 1.2em;
}

.cardParagraph{
    text-align: center;
}

form{
    max-width: 520px;
    margin: 2em auto;
}

.logo{
    margin: 1em;
}

.deactivated{
    display: none;
}

.card{
    max-width: 620px;
}

.img-view{
    padding: 1em;
    text-align: center;
    background-color: rgba(0, 81, 255, 0.377);
}

.infoParagraph{
    display: flex;
}

.infoParagraph p{
    font-size: 1em;
}

.infoParagraph img{
    vertical-align: middle;
}

.avatarImg{
    margin: 2em;
    width: 3.5em;
}

.attribution {
    text-align: center; 
    margin-top: auto;
    font-size: 11px; text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}