/* FONTS */
@font-face {
    font-family: inconsolatabold;
    src: url("../assets/fonts/static/Inconsolata-Bold.ttf");
}

@font-face {
font-family: inconsolataExbold;
src: url("../assets/fonts/static/Inconsolata-ExtraBold.ttf");
}

@font-face {
    font-family: inconsolataMed;
    src: url("../assets/fonts/static/Inconsolata-Medium.ttf");
}

@font-face {
    font-family: inconsolataReg;
    src: url("../assets/fonts/static/Inconsolata-Regular.ttf");
}

@font-face {
    font-family: inconsolata;
    src: url("../assets/fonts/Inconsolata-VariableFont_wdth,wght.ttf");
}

*{
    margin: 0;
    padding: 0;
}

html{
    margin: 0px;
    min-height: 100vh;
    width: 100%;
}

body{
    min-height: 100%;
    color: white;
    background: url("../assets/images/background-desktop.png") no-repeat center center fixed;
    background-size: cover;
    background-color: rgb(63, 0, 165);
}

.logo{
    margin:2em;
}

.linesPattern{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    background: url("../assets/images/pattern-lines.svg") repeat center center fixed;
    background-size: cover;
}

.squigglyTop{
    margin-top: 5em;
    z-index: -1;
    position: fixed;
    right: 0;
}

.squigglyBottom{
    width: 1130px;
    z-index: -1;
    position:fixed;
    bottom: 0;
    left: -2em;
}

.circle{
    height: 240px;
    z-index: -1;
    position:fixed;
    right: 20%;
    bottom: 20%;
}

h1{
    font-family: inconsolatabold, Arial, Helvetica, sans-serif;
    font-size: 4em;
    text-align: center;
    margin: .5em 0;
}
p{
    font-family: inconsolataReg, Arial, Helvetica, sans-serif;
    font-size: 1.7em;
}

.card{
    margin: 1em auto;
    max-width: 970px;
}

.cardParagraph{
    margin: .5em;
    text-align: center;
}

form{
    max-width: 600px;
    margin: 4em auto;
}

label{
    box-sizing: border-box;
    margin-top: 1.2em;
    display: block;
    font-family: inconsolataMed, Arial, Helvetica, sans-serif;
    font-size: 1.5em;
}

form button.customBtn{
    font-family: inconsolatabold, Arial, Helvetica, sans-serif;
    margin: 1.5em 0;
    border: none;
    background-color: #f67464;
    color: #020116;
}

.customInput{
    font-family: inconsolataReg, Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    box-sizing: border-box;
    color: #fff;
    background-color: hsla(0, 0%, 100%, 0.1);
    width: 100%;
    padding: .9em;
    margin: .7em 0;
    margin-bottom: 1em;
    border: 1px solid #fff;
    border-radius: 15px;
    display: block;
}

.customInput:focus{
    outline: 1px solid #fff;
    outline-offset: 3px;
}

.deactivated{
    display: none;
}

.visuallyHidden { 
    position: absolute !important;
    height: 1px; 
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap;
}

[type="file"]:focus + label .img-view{
    outline: 1px solid #fff;
    outline-offset: 3px;
}

.img-view{
    box-sizing: border-box;
    margin-top: 1em;
    font-family: inconsolataReg, Arial, Helvetica, sans-serif;
    padding: 15px;
    text-align: center;
    background-color: hsla(0, 0%, 100%, 0.1);
    border-image-source:url("../assets/images/border.png");  
    border-image-repeat: round;
    border-image-slice: 33%;
    border-image-width: 16px;
    border-image-outset: 0px;
    border-radius: 15px;
}

.img-view p{
    padding: .5em;
    box-sizing: border-box;
    font-size: .9em;
}

.infoParagraph{
    line-height: .9em;
    font-family: inconsolataReg, Arial, Helvetica, sans-serif;
    margin: 15px 0;
    display: flex;
}

.iconInfo{
    margin: 0 11px 0 0;
    width: .8em;
}

.infoParagraph p{
    font-size: 15px;
}

.infoParagraph img{
    vertical-align: middle;
}

.avatarImg{
    margin: 15px;
    width: 60px;
    background-color: hsla(0, 0%, 100%, 0.15);
    border: 1px solid;
    border-color: hsla(0, 0%, 100%, 0.16);
    border-radius: 15px;
}

.container > p{
    margin: auto;
    width: 65%;
}

#fullNameDisplay{
    background-image: linear-gradient(to right, #f3796a, #fff);
    color: transparent;
    background-clip: text;
}

#fullEmailDisplay{
    color: #f3796a;
}

.attribution {
    position:absolute;
    font-family: inconsolata, Arial, Helvetica, sans-serif;
    text-align: center; 
    font-size: 1em; text-align: center; 
    bottom: 0;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}